<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Protocol creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <H1 align="center">Protocol creating</H1>
    <form method="post" th:object="${protocol}" action="/protocols/create" id="create-form">
        <fieldset>
            <input name = "id" placeholder="id" hidden="hidden" class="form-control"/><br>

            <select class="form-control" th:field="*{vehicleIdNumber}">
                <option th:each="automobile : ${automobileList}" th:value="${automobile.vehicleIdNumber}" th:text="${automobile.vehicleIdNumber}"></option>
            </select><br>

            <input type="date" name = "prepDate" placeholder="preparing date" class="form-control"/><br>

            <select class="form-control" th:field="*{status}">
                <option th:value="true" th:text="true"></option>
                <option th:value="false" th:text="false"></option>
            </select><br>

            <select class="form-control" th:field="*{violationName}">
                <option th:each="violation : ${violationList}" th:value="${violation.violation}" th:text="${violation.violation}"></option>
            </select><br>

            <input name = "dueDate" placeholder="dueDate" class="form-control"/><br>

            <select class="form-control" th:field="*{driverPassport}">
                <option th:each="driver : ${driverList}" th:value="${driver.passport}" th:text="${driver.passport}"></option>
            </select><br>

            <select class="form-control" th:field="*{tokenNumber}">
                <option th:each="policeman : ${policemanList}" th:value="${policeman.id}" th:text="${policeman.id}"></option>
            </select><br>
            <button type="submit" class="btn btn-success">Create!</button>
        </fieldset>
    </form>
</div>
</body>
</html>