<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Protocol editing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <H1 align="center"> Protocol editing </H1>
    <form method="post" action="/api/protocols/edit">
        <fieldset>
            <input name = "id" hidden="hidden" th:value="${protocol.id}" placeholder="id"  class="form-control"/><br>

            <select class="form-control" th:field="*{protocol.vehicleIdNumber}">
                <option th:each="auto : ${automobileList}" th:value="${auto.vehicleIdNumber}" th:text="${auto.vehicleIdNumber}"></option>
            </select><br>

            <input name = "prepDate" th:value="${protocol.prepDate}" placeholder="preparation date" class="form-control"/><br>

            <select class="form-control" th:field="*{protocol.status}">
                <option th:value="true" th:text="true"></option>
                <option th:value="false" th:text="false"></option>
            </select><br>

            <select class="form-control" th:field="*{protocol.violationName}">
                <option th:each="violation : ${violationList}" th:value="${violation.violation}" th:text="${violation.violation}"></option>
            </select><br>

            <input name = "dueDate" th:value="${protocol.dueDate}" placeholder="due date" class="form-control"/><br>

            <select class="form-control" th:field="*{protocol.driverPassport}">
                <option th:each="driver : ${driverList}" th:value="${driver.passport}" th:text="${driver.passport}"></option>
            </select><br>

            <select class="form-control" th:field="*{protocol.tokenNumber}">
                <option th:each="policeman : ${policemanList}" th:value="${policeman.id}" th:text="${policeman.id}"></option>
            </select><br>
            <button type="submit" class="btn btn-success">Update!</button>
        </fieldset>
    </form>
</div>
</body>
</html>