<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Automobiles creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
    <div class="container mt-5 mb-5">
        <H1 align="center"> Car creating </H1>
        <form method="post" th:object="${automobile}" action="/autos/create" id="createForm">
            <fieldset>
                <input name = "vehicleIdNumber" required placeholder="vehicle number" class="form-control"/><br>
                <input type="date" name = "registrationDate" required placeholder="registration date" class="form-control"/><br>

                <select class="form-control" th:field="*{modelName}">
                    <option th:each="model : ${modelList}" th:value="${model.modelName}" th:text="${model.modelName}"></option>
                </select><br>

                <select class="form-control" th:field="*{color}">
                    <option th:each="color : ${colorList}" th:value="${color.colorName}" th:text="${color.colorName}"></option>
                </select><br>

                <input name = "engineNumber" required placeholder="engine number" class="form-control"/><br>
                <input id="1" name = "registrationNumber" placeholder="registration number" required pattern="[A-Z]{2}[0-9]{4}[A-Z]{2}|([0-9]{4}|[0-9]{4}" class="form-control"/><br>
                <button type="submit" class="btn btn-success">Create!</button>
            </fieldset>
        </form>

    </div>
</body>
</html>