<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brands</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">Brands</h1>
<div class="container mt-5">
    <a type="button" class="btn btn-warning" href="/api">Return</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Brand ID</th>
                <th>Brand name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${list}">
                <td>
                    <a th:href="@{/api/brands/edit/__${el.id}__}" th:text="${el.id}" href="/api/brands/edit"></a>
                </td>
                <td th:text="${el.brandName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/brands/create">Create brand</a>
</div>
</body>
</html>