<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Policeman editing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <H1 align="center"> Policeman editing </H1>
    <form method="post" action="/api/policemen/edit">
        <fieldset>
            <input name = "id" hidden="hidden" th:value="${policeman.id}" placeholder="id"  class="form-control"/><br>
            <input name = "rank" th:value="${policeman.rank}" placeholder="rank"  class="form-control"/><br>
            <input name = "name" th:value="${policeman.name}" placeholder="name" class="form-control"/><br>
            <input name = "surname" th:value="${policeman.surname}" placeholder="surname" class="form-control"/><br>
            <input name = "patronymic" th:value="${policeman.patronymic}" placeholder="patronymic" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Update!</button>
        </fieldset>
    </form>
</div>
</body>
</html>