<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">Stories</h1>
<div class="container mt-5">
    <a type="button" class="btn btn-warning" href="/api">Return</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Vehicle number</th>
                <th>Driver passport</th>
                <th>Start date</th>
                <th>User passport</th>
                <th>Finish date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${list}">
                <td th:text="${el.vehicleIdNumber}"></td>
                <td th:text="${el.driverPassport}"></td>
                <td th:text="${el.startDate}"></td>
                <td th:text="${el.userPassport}"></td>
                <td th:text="${el.finishDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/stories/create">Create story</a>
</div>
</body>
</html>