<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Story creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <H1 align="center"> Story creating </H1>
    <form method="post" th:object="${story}" action="/api/stories/create" id="create-form">
        <fieldset>
            <select class="form-control" th:field="*{vehicleIdNumber}">
                <option th:each="automobile : ${automobileList}" th:value="${automobile.vehicleIdNumber}" th:text="${automobile.vehicleIdNumber}"></option>
            </select><br>

            <select class="form-control" th:field="*{driverPassport}">
                <option th:each="driver : ${driverList}" th:value="${driver.passport}" th:text="${driver.passport}"></option>
            </select><br>

            <input name = "startDate" placeholder="start date (yyyy-MM-dd)" class="form-control"/><br>

            <select class="form-control" th:field="*{userPassport}">
                <option th:each="driver : ${driverList}" th:value="${driver.passport}" th:text="${driver.passport}"></option>
            </select><br>

            <input type="date" name = "finishDate" placeholder="finish date" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Create!</button>
        </fieldset>
    </form>
</div>
</body>
</html>