<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Violation creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <H1 align="center"> Violation creating </H1>
    <form method="post" action="/violations/create">
        <fieldset>
            <input name = "violation" required placeholder="violation" class="form-control"/><br>
            <input name = "moneyPenalty" required placeholder="money penalty (dollar)" class="form-control"/><br>
            <input name = "court" required pattern="true|false" placeholder="enter 'true' or 'false' to specify the transfer of the case to court" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Create!</button>
        </fieldset>
    </form>
</div>
</body>
</html>