<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Color editing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <H1 align="center"> Color editing </H1>
    <form method="post" action="/colors/edit">
        <fieldset>
            <input name = "colorId" placeholder="id" hidden="hidden" th:value="${color.colorId}" class="form-control"/><br>
            <input name = "colorName" placeholder="color name" th:value="${color.colorName}" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Update!</button>
        </fieldset>
    </form>
</div>
</body>
</html>