<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<h1 align="center">Colors</h1>
<div class="container mt-5">
    <a type="button" class="btn btn-warning" href="/api">Return</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Color ID</th>
                <th>Color name</th>
                <th>Editing</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${list}">
                <td th:text="${el.colorId}"></td>
                <td th:text="${el.colorName}"></td>
                <td align="center">
                    <a type="button" class="btn btn-dark" th:href="@{/api/colors/edit/__${el.colorId}__}">
                        <p>&#x270e; Edit</p>
                    </a>
                    <a type="button" class="btn btn-dark" th:href="@{/api/colors/delete/__${el.colorId}__}">
                        <p>&#x232b; Delete</p>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/colors/create">Create color</a>
</div>
</body>
</html>