<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drivers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">Drivers</h1>
<div class="container mt-5">
    <a type="button" class="btn btn-warning" href="/api">Return</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Passport</th>
                <th>License number</th>
                <th>Birth date</th>
                <th>City</th>
                <th>Street</th>
                <th>House</th>
                <th>Flat</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${list}">
                <td th:text="${el.passport}"/>
                <td th:text="${el.licenseNumber}"/>
                <td th:text="${el.birthDate}"/>
                <td th:text="${el.city}"/>
                <td th:text="${el.street}"/>
                <td th:text="${el.house}"/>
                <td th:text="${el.flat}"/>
                <td th:text="${el.name}"/>
                <td th:text="${el.surname}"/>
                <td th:text="${el.patronymic}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/drivers/create">Create driver</a>
</div>
</body>
</html>