<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Model creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<div class="container mt-5 mb-5">
    <H1 align="center"> Color creating </H1>
    <form method="post" action="/api/models/create">
        <fieldset>
            <input name = "modelName" placeholder="model name" class="form-control"/><br>
            <input name = "brandName" placeholder="brand name" class="form-control"/><br>
            <input name = "bodyType" placeholder="body type" class="form-control"/><br>
            <input type="date" name = "manufYear" placeholder="manufacture year" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Create!</button>
        </fieldset>
    </form>
</div>
</body>
</html>