<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Models</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js"></script>
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<h1 align="center">Models</h1>
<div class="container mt-5">
    <input class="form-control" type="text" placeholder="Search..." id="search-text" onkeyup="tableSearch()"/><br>
    <div class="table-responsive">
        <table id="table-id" class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Model name</th>
                <th>Brand name</th>
                <th>Body type</th>
                <th>Manufacture year</th>
                <th>Editing</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${list}">
                <td th:text="${el.modelName}"></td>
                <td th:text="${el.brandName}"></td>
                <td th:text="${el.bodyType}"></td>
                <td th:text="${el.manufYear}"></td>
                <th>
                    <a type="button" class="btn btn-dark" th:href="@{/api/models/delete/__${el.modelId}__}">
                        <p>&#x232b; Delete</p>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-primary" href="/api/models/create">Create model</a>
    <a type="button" class="btn btn-warning" href="/api">Return</a>
</div>
<script>
    function tableSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('table-id');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }
</script>
<script>
    new Tablesort(document.getElementById('table-id'));
</script>
</body>
</html>