<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="script" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
</head>
<body>
<h1 align="center">Login</h1>
<div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">Login Failed!!!<br />
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
        </span>
</div>
<form name='f' th:action="@{/j_spring_security_check}" method="post" class="form-signin">
    <label for="inputUserName" class="sr-only align-content-xl-center">User name</label>
    <input type="text" id="inputUserName" name="username" class="form-control" placeholder="User name">
    <label for="inputPassword" class="sr-only align-content-xl-center">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
    <input type="checkbox" name="remember-me"> Remember me
    <button name="submit" value="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<br>
Username/pass:
<ul>
    <li>admin/admin</li>
    <li>user/user</li>
    <li>policeman/policeman</li>
</ul>

</body>

</html>