<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Auto checking IS</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/autos/main">Automobiles</a>
            <a class="p-2 text-dark" href="/brands/main">Brands</a>
            <a class="p-2 text-dark" href="/colors/main">Colors</a>
            <a class="p-2 text-dark" href="/drivers/main">Drivers</a>
            <a class="p-2 text-dark" href="/models/main">Models</a>
            <a class="p-2 text-dark" href="/policemen/main">Policemen</a>
            <a class="p-2 text-dark" href="/protocols/main">Protocols</a>
            <a class="p-2 text-dark" href="/stories/main">Stories</a>
            <a class="p-2 text-dark" href="/violations/main">Violations</a>
        </nav>
        <a class="btn btn-outline-primary" href="login">Log in</a>
    </div>
</div>
